<section class="home_1" id="home_1">
      <footer class="index" id="index">
        <div>
          scroll
        </div>
        <div class="divider" id="divider"></div>
        <div>
          01
        </div>
      </footer>
      <div class="container">
        <h1 class="title" id="title">
          <div class="default">
            {{{title}}}
          </div>
          <div class="responsive">
            {{{title_res}}}
          </div>
        </h1>
      </div>
      <div class="imagen">
        <img src="img/background.png" alt="" />
      </div>
    </section>
    <section class="home_2" id="home_2">
      <footer class="index" id="index">
        <div>
          Workflow
        </div>
        <div class="divider" id="divider"></div>
        <div>
          02
        </div>
      </footer>

      <div class="container">
        <h1>
            {{{h1}}}
        </h1>
        <h2>
            {{{h2}}}
        </h2>
        <div class="container_btn">
          <div class="readme">
            <div class="img">
              <img src="img/mappingImg.png" alt="" />
              <h4>
                  {{{readme_1_h4}}}
              </h4>
              <p>
                  {{{readme_1_p}}}
              </p>
            </div>
          </div>
          <div class="readme">
            <div class="img">
            <img src="img/estrategiaImg.png" alt="" />
            <h4>
                {{{readme_2_h4}}}
            </h4>
              <p>
                {{{readme_2_p}}}
              </p>
            </div>
          </div>
          <div class="readme">
            <div class="img">
              <img src="img/ejecucionImg.png" alt="" />
              <h4>
                {{{readme_3_h4}}}
              </h4>
              <p>
                {{{readme_2_p}}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>