        <div class="redes_container">
            <div><a href="index.html"><img src="img/isoNav.svg"/></a></div>
            <nav id="redes" class="redes">
                <a class="ig" id="ig">instagram</a>
                <a href="https://www.linkedin.com/company/w-world-consulting" target="_blank" class="ld" id="ld">linkedin</a>
                <select name="" id="language" class="language" onchange="reloadPage()">
                    <option value="es">Español</option>
                    <option value="en">English</option>
                </select>
            </nav>
        </div>

        <div class="main_container">
            <h6 class="subtitle"><a href="index.html">W - World<span class="bold">Consulting.</span></a></h6>
            <nav class="main_nav" id="main_nav">
                <a class="home" id="home" href="index.html">{{{home}}}</a>
                <a class="mision" id="mision" href="mission.html">{{{mision}}}</a>
                <a class="approach" id="approach" href="approach.html">{{{approach}}}</a>
                <a class="team" id="team" href="team.html">{{{team}}}</a>
                <a class="cases" id="cases" href="cases.html">{{{cases}}}</a>
            </nav>
        </div>