        <div class="redes_container">
            <div><img/></div>
            <nav id="redes" class="redes">
                <a class="ig" id="ig">instagram</a>
                <a class="ld" id="ld">linkedin</a>
                <select name="" id="language" class="language">
                    <option value="eng">English</option>
                    <option value="esp">Español</option>
                </select>
            </nav>
        </div>

        <div class="main_container">
            <h6 class="subtitle">W - World<span class="bold">Consulting.</span></h6>
            <nav class="main_nav" id="main_nav">
                <a class="home" id="home" href="index.html">{{{home}}}</a>
                <a class="mision" id="mision" href="mission.html">{{{mision}}}</a>
                <a class="approach" id="approach" href="approach.html">{{{approach}}}</a>
                <a class="team" id="team" href="team.html">{{{team}}}</a>
                <a class="cases" id="cases" href="cases.html">{{{cases}}}</a>
            </nav>
        </div>