<body>
    <section class="personContainer">

        {{{img}}}

        <div class="text">
            <p class="position">{{{position}}}</p>
            <h4 class="personName">{{{personName}}}</h4>
            <article class="description">
                {{{description}}} 
                {{{description_more}}} 
                {{{read_more}}} 
            </article>
            <div class="redes">
                {{{redes}}}
            </div>
        </div>
    </section>
</body>
</html>